div.detections_logs_container {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    font-family: "Share Tech", sans-serif;
    color: white;
}

div.detections_header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.388);
    border-bottom: 1px solid rgba(255, 255, 255, 0.218);
    transition: all .2s ease;
}

div.detections_header.scrolled {
    color: black;
}

.detections_header img {
    margin: 1%;
    height: 30px;
    flex: 0;
}

.detections_header h1 {
    font-size: 18pt;
    font-weight: 400;
    color: rgb(249, 251, 255);
}

.filter_button {
    margin-left: auto;
    border: 2px solid rgba(255, 255, 255, 0.567);
    background-color: transparent;
    color: rgb(16, 166, 235);
    padding: 0.4em 0.6em;
    border-radius: 3px;
    margin-right: 1%;

    font-family: "Share Tech", sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.567);
    cursor: pointer;
}

div.detections_head {
    display: flex;
    background-color: rgb(12, 120, 221);
    border-bottom: 1px solid rgba(255, 255, 255, 0.218);
    font-size: 1rem;
    transition: all .2s ease;
}

div.detections_head.scrolled {
    background-color: rgba(12, 120, 221, 0);
    backdrop-filter: blur(15px);
}

div.detections_head div {
    border-right: 1px solid rgba(255, 255, 255, 0.218);
}

div.detections_head .time {
    padding: 0.5% 1.2%;
}

div.detections_head .event {
    padding: 0.5% 2.05%;
}

div.detections_head .id {
    padding: 0.5% 1.99%;
}

div.detections_head .cam {
    padding: 0.5% 0.7%;
}

div.detections_head .date {
    margin-left: auto;
    padding: 0.5% 1.60%;
    border-left: 1px solid rgba(255, 255, 255, 0.218);
    border-right: none;
}

/* --Lista das Detecções */

ul.detections_logs_list {
    max-height: 78%;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

ul.detections_logs_list::-webkit-scrollbar {
    width: 6px;
}

ul.detections_logs_list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

/* Card de Logs */

li.detection_log_card {
    display: flex;
    font-size: 1rem;

    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.218);
    transition: all .1s ease;
}

li.detection_log_card:hover {
    border: 1px solid rgba(255, 255, 255, 0.43);
}

li.detection_log_card:active {
    background-color: rgb(16, 166, 235);
    box-shadow: 0px 0px 10px rgb(16, 166, 235);
    border: 1px solid transparent;
}

li.detection_log_card:active div {
    color: white;
}

li.detection_log_card div {
    padding: 1%;
    border-right: 1px solid rgba(255, 255, 255, 0.218);
}

.card_time {
    border-right: 1px solid rgba(255, 255, 255, 0.218);
}

.card_event {
    font-weight: 400;
    color: rgb(32, 255, 244);
}

.card_id {
}

.card_camID {
}

.card_date {
    margin-left: auto;
    border-left: 1px solid rgba(255, 255, 255, 0.218);
}