div.buttons_container {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

button.header_but {
    display: flex;
    white-space: nowrap; /* Não quebra linha */
    align-items: center;
    gap: 5%;
    border: 2px solid rgba(255, 255, 255, 0.567);
    background-color: transparent;
    padding: 0.4em 0.6em;
    border-radius: 3px;

    font-family: "Share Tech", sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.567);
    cursor: pointer;
    transition: all .3s ease;
}

button.header_but.activate {
    padding: 0.3em 0.5em;
    background-color: rgb(16, 166, 235);
    color: white;
    border: 2px solid rgb(16, 166, 235);
    box-shadow: 0px 0px 10px rgba(5, 176, 255, 0.471);
    fill: white;
}

.header_but.live {
    color: rgb(12, 120, 221);
    border-color: rgb(12, 120, 221);
}

button.header_but svg {
    width: 22px;
    fill: rgba(255, 255, 255, 0.567);
}

.filter_container {
    padding: 1%;
    display: flex;
    gap: 10px;
}

.datetime_forms_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_box {
    display: flex;
    align-items: center;
}

.input_box {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.348);
    gap: 5px;
}

.input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-radius: 3px;
    color: #ffffff;
    padding: 4px;
}

.input:valid {
    border: 1px solid rgba(23, 255, 232, 0.704);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);  /* muda a cor do ícone */
    opacity: 60%;
    cursor: pointer;
    padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0;
    opacity: 40%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.filter_buttons {
    display: flex;
    gap: 5%;
}

div.filter_buttons button {
    border: none;
    height: 40%;
    margin-top: auto;
    background-color: transparent;
    border-radius: 2px;

    font-family: "Share Tech", sans-serif;
    font-size: 10pt;
    font-weight: 400;
    white-space: nowrap;
    
    cursor: pointer;
    transition: all .2s ease;
}

button.submit {
    color: rgb(0, 140, 255);
}

button.submit:hover {
    background-color: rgb(0, 140, 255);
    box-shadow: 0px 0px 10px rgba(0, 140, 255, 0.445);
    color: rgb(255, 255, 255);
}

button.clean {
    color: rgb(255, 0, 25);
}

button.clean:hover {
    background-color: rgb(255, 0, 25);
    box-shadow: 0px 0px 10px rgba(255, 0, 25, 0.471);
    color: rgb(255, 255, 255);
}
