html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2328;
    
    border: 1px solid rgba(255, 255, 255, 0.286);
}

canvas {
    max-width: 100%;
    max-height: 80%;
    border: 3px solid rgb(87, 96, 102);
    object-fit: contain;
}