html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2328;
    
    border: 1px solid rgba(255, 255, 255, 0.286);
}

div.image_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

img.detection_image {
    max-width: 100%;
    max-height: 100%;
}

img.facial_icon {
    height: 50%;
    opacity: 15%;
}